.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 58px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
}

.menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 10%;
  padding-right: 10%;
}

.menu-items {
  position: relative;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items a,
.menu-items button {
  color: white;
  text-align: left;
  padding: 0.7rem 1rem;
  display: block;
  font-size: inherit;
  text-decoration: none;
  border: none;
  background-color: #F397AF;
  cursor: pointer;
  width: 100%;
} 

.menu-items .match-button {
  color: #E72658;
  background-color: white;
  border: 2px solid #E72658;
  font-size: 18px;
  width: 200px;
  text-align: center;
  transition: 0.3s;
}

.menu-items .match-button:hover {
  background-color: #E72658;
  color: white;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}
  
.dropdown {
  position: absolute;
  right: 0;
  left: auto;

  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  color: white;
  background-color: #F397AF;
  border-radius: 0rem;
  display: none;
}
  
.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}